<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.artycake.pocketrss">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:launchMode="singleTop"
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <service
            android:name=".services.FeedService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false">
        </service>

        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.artycake.pocketrss.activities.MainActivity"/>
        </activity>
        <activity
            android:name=".activities.ArticleActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.artycake.pocketrss.activities.MainActivity"/>
        </activity>
        <activity
            android:name=".activities.AddSourceActivity"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.artycake.pocketrss.activities.MainActivity"/>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:pathPattern=".*(xml|rss|feed).*"
                    android:scheme="http"/>
                <data
                    android:pathPattern=".*(xml|rss|feed).*"
                    android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver
            android:name=".receivers.BootReceiver"
            android:enabled="true"
            android:exported="true">
        </receiver>

        <activity
            android:name=".activities.BrowserActivity"
            android:parentActivityName=".activities.ArticleActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.artycake.pocketrss.activities.ArticleActivity"/>
        </activity>
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".activities.SettingsActivity">
            <intent-filter>
                <action android:name="com.artycake.openabout"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.artycake.pocketrss.activities.SettingsActivity"/>
        </activity>

    </application>

</manifest>